.left {
    float:left;
}

.right {
    float:right;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    /*height:30px;*/
}

.table th,.table td {
    text-align: center
}


.data_table {
    margin-top:30px;
}